extends layout

block content
  h1= title


  audio(src="/#{song}.mp3", type= "audio/mpeg", preload="auto", id= '#{song}')

  div(class = "song1")
    h3 #{song}
    br
    img(src = "/#{song}.jpg")
    br
    input(type = "Submit", class="btn btn-primary", value = "play", id ="play#{song}")
    input(type = "Submit", class="btn btn-primary", value = "pause", id ="pause#{song}")
    div(class =  "time")
      | 0:00



  script
    $('#switch').click(function () {
      var switched = false
      if ($('##{song}')[0].paused == false) {
        $('##{song}')[0].pause()
        $('##{song2}')[0].play()
        switched = true
        }
      if ($('##{song2}')[0].paused == false && switched == false) {
        $('##{song}')[0].play()
        $('##{song2}')[0].pause()
        }
    return false;
    });

    $('#play#{song}').click(function () {
      $('##{song}')[0].play();
    return false;
    });
    $('#pause#{song}').click(function () {
      $('##{song}')[0].pause();
    return false;
    });

    $('#play#{song2}').click(function () {
      $('##{song2}')[0].play();
    return false;
    });
    $('#pause#{song2}').click(function () {
      $('##{song2}')[0].pause();
    return false;
    });

    var refreshtime = function(){
      var nowtime = Math.round($('##{song}')[0].currentTime * 100)/100;
      var strtime = nowtime.toString();
      $('.time').html(strtime);

      var whatever = (!{JSON.stringify(dict)})
      if (whatever[strtime]) {
        rand = Math.random()
        if (rand < 0.25) {
          chance = 0.25/(whatever[strtime].length)
          incr_chance = chance
          index = 0
          for (jump in whatever[strtime]) {
            if (rand < chance) {
              console.log(whatever[strtime][index]);
              $('##{song}')[0].currentTime = whatever[strtime][index] +.02;

            }
            index ++
            chance += incr_chance
          }
        }
        if(parseFloat(strtime) >= 249){
          $('##{song}')[0].currentTime = 0;
          $('##{song}')[0].play();
        }

        console.log("none");

        
      }

    }
    
    setInterval(refreshtime, 10);
