extends layout

block content
  h1= title


  audio(src="/#{song}.mp3", type= "audio/mpeg", preload="auto", id= '#{song}')

  div(class = "song1")
    h3 #{song}
    br
    input(type = "Submit", class="btn btn-primary", value = "play", id ="play#{song}")
    input(type = "Submit", class="btn btn-primary", value = "pause", id ="pause#{song}")

  audio(src="/#{song2}.mp3", type= "audio/mpeg", preload="auto", id= '#{song2}')
  
  div(class= "switch")
    input(type="Submit", class="btn btn-primary", value = "Switch", id ="switch")
    br
    input(type="Submit", class="btn btn-primary", value = "go to t=100!!", id = "GO")
  
  div(class = "song2")
    h3 #{song2}
    br
    input(type = "Submit", class="btn btn-primary", value = "play", id ="play#{song2}")
    input(type = "Submit", class="btn btn-primary", value = "pause", id ="pause#{song2}")

  div(class =  "time")
    | 0:00

  script
    $('#switch').click(function () {
      var switched = false
      if ($('##{song}')[0].paused == false) {
        $('##{song}')[0].pause()
        $('##{song2}')[0].play()
        switched = true
        }
      if ($('##{song2}')[0].paused == false && switched == false) {
        $('##{song}')[0].play()
        $('##{song2}')[0].pause()
        }
    return false;
    });

    $('#GO').click(function () {
      $('##{song}')[0].currentTime = 100;
    return false;
    });

    $('#play#{song}').click(function () {
      $('##{song}')[0].play();
    return false;
    });
    $('#pause#{song}').click(function () {
      $('##{song}')[0].pause();
    return false;
    });

    $('#play#{song2}').click(function () {
      $('##{song2}')[0].play();
    return false;
    });
    $('#pause#{song2}').click(function () {
      $('##{song2}')[0].pause();
    return false;
    });

    var refreshtime = function(){
      var nowtime = Math.round($('##{song}')[0].currentTime * 100000)/100000;
      $('.time').html(nowtime);

    }
    
    setInterval(refreshtime, 10);